h1{
    line-height: 1.1;
}
ul{
    padding: 0;
}
ul li{
    list-style: none;
    
}
a{
    color: hsl(0, 0%, 100%);
    text-decoration: none;
}
img{
    display: block;
    max-width: 100%;
    font-style: italic;
    margin: auto;
    color: hsl(75, 94%, 57%);
}
body{
    text-align: center;
    font-family: inter;
    font-weight: 400;
    font-size: 14px;
    color:  hsl(0, 0%, 100%);
    background-color: hsl(0, 0%, 8%);
}
.user-name{
    font-size: 1.75em;
    font-weight: 600;
    margin-bottom: 0.5rem;
}
.user-location{
    color: hsl(75, 94%, 57%);
    font-weight: 600;
    margin: .25rem .5rem 1.2rem .5rem;
}
.user-desc{
    margin-bottom: 1.4rem;
}
.list-item{
    display: block;
    width: 100%;
    padding: .7rem 0 .7rem 0;
    background-color: hsl(0, 0%, 20%);
    border-radius: .3rem;
    text-align: center;
}
.profile-container{
    width: 25em;
    padding: 1.75rem;
    background-color: hsl(0, 0%, 12%);
    border-radius: .6rem;
}
.wrapper{
    display: grid;
    place-items: center;
    min-height: 100dvh;
}
.social-links * + *{
    margin-top: 1rem;
}
.list-item:hover{
    background-color: hsl(75, 94%, 57%);
    color: hsl(0, 0%, 8%);
    transition: background-color .3s ease, color .3s ease;
}
.user-image{
    margin-bottom: 1.75rem;
    width: 7em;
    border-radius: 50%;
}